.navbar {display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(39, 71, 144);
    color: white;}

.title {
    font-size: 4rem;
    margin: 1rem;
}
.title li {list-style: none;}

.title li a {text-decoration: none;
           color: white;
           display: block;}
/* .title li:hover {background-color: #386B67;} */


.navbar-links ul {margin: 0;
             padding: 0;
             display: flex;}

.navbar-links li {list-style: none;
             }
.navbar-links li a {text-decoration: none;
               color: white;
               padding: 2rem;
               display: block;
               font-size: 1.5rem
       }
.navbar-links li:hover {background-color: rgb(74, 108, 187);;}