.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(39, 71, 144);
    color: white;}

.title {
    font-size: 4rem;
    margin: 1rem;
}
.title li {list-style: none;}

.title li a {text-decoration: none;
           color: white;
           display: block;}
/* .title li:hover {background-color: #386B67;} */


.navbar-links ul {margin: 0;
             padding: 0;
             display: flex;}

.navbar-links li {list-style: none;
             }
.navbar-links li a {text-decoration: none;
               color: white;
               padding: 2rem;
               display: block;
               font-size: 1.5rem
       }
.navbar-links li:hover {background-color: rgb(74, 108, 187);;}

.tab1 {
    padding-left:2%;
}

.tab2 {
    padding-left:4%;
}

img {
    width:1000px;
    margin:-50px;
}

.conv{
    width:20%;
    height:20%;
    margin-top:30px;
    margin-bottom: 30px;
    margin-left:-500px;
}

.train{
    margin-top:10px;
    width: 40%;
    height: 40%;
    margin-bottom: 10px;
    margin-left:10px;
}